---
layout: default
---

{% assign tag_words = page.tags %}

<div class="post">
  <h1 class="post-title">{{ page.title }}</h1>
  <div class="post-title-footer">
  <span class="post-date" style="display:inline-block">{{ page.date | date_to_string }}&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
  <span class="post-tag-box" style="display:inline-block;">
   {% for item in (0..page.tags.size) %}{% unless forloop.last %}
     {% capture this_word %}{{ tag_words[item] | strip_newlines }}{% endcapture %}
     <a href="{{ site.url }}tags/#{{ this_word | escape_cgi }}"><i class="fa fa-tags fa-rotate-90 fa-sm"></i>{{ this_word }}</a>
   {% endunless %}{% endfor %}
  </span>
  </div>
  {{ content }}
</div>

<hr></hr>
<div class="social-media">
  {% include share-page.html %}
</div>

<div class="related">
  <h3 class="related-heading">Other Posts</h3>
  <ul class="related-posts">
    {% for post in site.related_posts limit:3 %}
      <li>
        <h5>
          <a href="{{ baseurl }}{{ post.url }}">{{ post.title }}</a>
          <small>{{ post.date | date_to_string }}</small>
        </h5>
      </li>
    {% endfor %}
  </ul>
</div>


{% include comments.html %}
{% include copyright.html %}
